@import "variable.less";

.header-top {
  min-height     : 50px;
  background : #079cb4;
  .down-text {
    animation-duration : 1s;
  }
  .login-menu {
    li {
      float       : left;
      padding     : 15px 10px 5px 10px;
      font-size   : 13px;
      font-family : 'futura-pt';
      a {
        color : #fff;
        strong {
          font-weight : 700;
        }
      }
    }
    > li + li {
      box-shadow   : -8px 7px 0px -7px rgba(255, 255, 255, .375);
      padding-left : 10px;
    }
  }
}



