@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
@font-face {
  font-family: "Martel";
  font-style: normal;
  font-weight: 400;
  src: local("Martel"), local("Martel-Regular"), url("https://fonts.gstatic.com/s/martel/v1/UqHF0_T0x2A12j9bgYu4DQ.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Martel";
  font-style: normal;
  font-weight: 900;
  src: local("Martel Heavy"), local("Martel-Heavy"), url("https://fonts.gstatic.com/s/martel/v1/6qlcTvSyKvyk4OhhaCbMtltXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "futura-pt";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/3489f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/3489f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/3489f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}
body {
  font-family: 'futura-pt', "Martel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
#mask {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal-dialog {
  margin: 0 auto;
}
.modal-table {
  display: table;
  width: 100%;
  height: 100%;
}
.modal-cell {
  display: table-cell;
  vertical-align: middle;
}
.loading {
  display: inline-block;
}
.header-container .header {
  margin-bottom: 20px;
}
.header-container .header-top {
  min-height: 50px;
  background: #079cb4;
}
.header-container .header-top .down-text {
  animation-duration: 1s;
}
.header-container .header-top .login-menu li {
  float: left;
  padding: 15px 10px 5px 10px;
  font-size: 13px;
  font-family: 'futura-pt';
}
.header-container .header-top .login-menu li a {
  color: #fff;
}
.header-container .header-top .login-menu li a strong {
  font-weight: 700;
}
.header-container .header-top .login-menu > li + li {
  box-shadow: -8px 7px 0px -7px rgba(255, 255, 255, 0.375);
  padding-left: 10px;
}
.header-container .mobile-nav {
  padding-left: 15px;
  padding-right: 15px;
}
.header-container .mobile-nav .btns .menu {
  font-size: 30px;
}
.header-container .mobile-nav .btns .logo {
  text-transform: uppercase;
  font-size: 30px;
  padding: 10px 0;
  line-height: 30px;
}
.header-container .mobile-nav .btns .checkout {
  font-size: 30px;
  position: relative;
}
.header-container .mobile-nav .btns .checkout:before {
  float: right;
}
.header-container .mobile-nav .btns .checkout i {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  background: #079CB4;
  color: #fff;
  font-size: 12px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 0;
}
.header-container .search {
  position: relative;
  padding: 10px 15px 5px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}
.header-container .search #search {
  border: none;
  width: 80%;
}
.header-container .search button {
  border: none;
  background: #fff;
  float: right;
}
.header-container .search .icon-search {
  font-size: 30px !important;
}
.header-container .search .icon-search:before {
  line-height: 100%;
  position: absolute;
  top: 5px;
  right: 20px;
}
.home-banner {
  width: 100%;
  min-height: 260px;
  background: url("../media/home/home-xs.jpg") no-repeat center center / cover;
  color: #003b4c;
  display: flex;
  flex-direction: column;
}
.home-banner a {
  color: #003b4c;
}
.home-banner .texts {
  flex: 1;
}
.home-banner .texts .txt1 {
  font-size: 36px;
}
.home-banner .texts .txt1 p {
  text-align: right;
  padding-right: 20px;
}
.home-banner .texts .txt2 {
  font-size: 18px;
  font-style: italic;
  width: 60%;
  text-align: center;
  float: right;
  padding-right: 20px;
}
.home-banner .nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-banner .nav ul {
  width: 64%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.home-banner .nav ul li {
  background: #fff;
  padding: 10px 20px;
  width: 40%;
  margin-top: 10px;
  text-align: center;
}
.home-content {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}
.home-content .recommend .wrap .name {
  padding: 5px 0;
  width: 40%;
  margin: 0 auto;
  background: #eee;
}
