@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
@font-face {
  font-family: "Martel";
  font-style: normal;
  font-weight: 400;
  src: local("Martel"), local("Martel-Regular"), url("https://fonts.gstatic.com/s/martel/v1/UqHF0_T0x2A12j9bgYu4DQ.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Martel";
  font-style: normal;
  font-weight: 900;
  src: local("Martel Heavy"), local("Martel-Heavy"), url("https://fonts.gstatic.com/s/martel/v1/6qlcTvSyKvyk4OhhaCbMtltXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "futura-pt";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/3489f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/3489f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/3489f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}
body {
  font-family: 'futura-pt', "Martel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
.fotorama--fullscreen .fotorama__nav,
.fotorama--fullscreen .fotorama__stage {
  background: #fff;
}
#mask {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal-dialog {
  margin: 0 auto;
}
.modal-table {
  display: table;
  width: 100%;
  height: 100%;
}
.modal-cell {
  display: table-cell;
  vertical-align: middle;
}
.swiper-button-next,
.swiper-button-prev {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.1);
  top: 35%;
  font-size: 32px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.swiper-button-next:before {
  content: "\e643";
}
.swiper-button-prev:before {
  content: "\e61a";
}
.overflow-hide {
  overflow: hidden;
}
.icon-wujiaoxing {
  color: #40B3C5;
  font-size: 12px;
}
.fotorama__arr.fotorama__arr--prev,
.fotorama__arr.fotorama__arr--next {
  background-image: none;
}
.fotorama__arr.fotorama__arr--prev:before {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e61a";
}
.fotorama__arr.fotorama__arr--next:before {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e643";
}
body.fullscreen .fotorama__fullscreen-icon {
  background-image: none;
  margin-right: 5px;
}
body.fullscreen .fotorama__fullscreen-icon::before {
  font-family: "iconfont" !important;
  font-size: 34px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e60e";
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(102, 175, 233, 0.4);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
ul.messages > li.success-msg {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  margin-top: 20px;
  background: #e5efe5;
  padding: 5px 32px;
  position: relative;
}
ul.messages > li.success-msg::before {
  content: "\e617";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
}
ul.messages > li.success-msg {
  color: #006400;
  border-color: #446423;
  background-color: #eff5ea;
}
ul.messages > li.success-msg::before {
  content: "\e617";
}
ul.messages > li.error-msg {
  color: #df280a;
  border-color: #f16048;
  background-color: #faebe7;
}
ul.messages > li.error-msg::before {
  content: "\e657";
}
ul.messages > li.note-msg,
ul.messages > li.note-msg {
  background-color: #fafaec;
  border-color: #fcd344;
  color: #3d6611;
}
ul.messages > li.note-msg::before,
ul.messages > li.note-msg::before {
  content: "\e676";
}
.mobile-nav .logo {
  text-align: left !important;
}
.mobile-nav .checkout i {
  float: right !important;
  display: inline !important;
  border-radius: 0 !important;
  background: #fff !important;
  color: #000 !important;
  width: 60px !important;
  font-size: 14px !important;
  line-height: 42px !important;
  position: static !important;
}
.mobile-nav .checkout i::after {
  content: ' ITEMS';
  font-size: 14px !important;
  font-family: 'futura-pt' !important;
}
.header-container {
  position: relative;
}
.header-container .search {
  width: 300px !important;
}
.header-container > .search {
  border: none;
}
.header-container .search-block {
  position: absolute;
  top: 60px;
}
.header-container .search .icon-search::before {
  line-height: 100%;
  position: absolute;
  top: 4px;
  right: 2px;
}
.header-container .search button {
  border: none;
  background: transparent;
  float: right;
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  right: 13px;
  top: 10px;
}
.home-banner {
  min-height: 500px;
  background: url("../media/home/home-lg.jpg") no-repeat center center / cover;
}
.home-banner .txt1 {
  font-size: 36px;
}
.home-banner .txt1 p {
  text-align: right;
  padding-right: 16% !important;
}
.home-banner .txt1 p + p {
  font-size: 58px !important;
  padding-right: 13% !important;
}
.home-banner .txt2 {
  font-size: 18px;
  font-style: italic;
  width: 60%;
  text-align: center !important;
  float: right;
  padding-right: 20px;
  text-indent: 14% !important;
}
.home-banner .nav {
  flex: 1;
  display: flex;
  align-items: center;
}
.home-banner .nav ul {
  width: 35%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transform: translate(80%, -140px);
}
.home-banner .nav ul li {
  background: #fff;
  padding: 10px 20px;
  width: 40%;
  margin-top: 10px;
  text-align: center;
}
#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 10px;
  padding: 0 15px;
}
#nav a {
  color: #353535;
}
#nav li.level0 > a > span {
  font-size: 14px;
  text-transform: uppercase;
}
#nav .level0 a span {
  font-family: 'Martel', Georgia, "Times New Roman", Times, serif !important;
  color: #353535;
  font-weight: 400;
}
#nav .level0 ul.level0 {
  position: absolute;
  left: 0;
  top: 156px;
  padding-left: calc(( 100% - 1170px ) /2);
  padding-right: calc(( 100% - 1170px ) /2);
  padding-top: 30px;
  padding-bottom: 20px;
  z-index: 200;
  width: 100%;
  background: #f5f5f5;
  border-bottom: 1px solid #f4f4f4;
  box-shadow: 1px 10px 10px 10px #f3f3f3;
  display: flex;
  justify-content: space-between;
}
#nav .level0 ul.level0 li.level1.parent > a > span {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #079cb4;
  margin-right: 10px;
  padding-bottom: 5px;
  font-weight: 700;
}
#nav .level0 ul.level0 .category-banner {
  align-self: center;
}
#nav .level0 level1.nav-3-3.parent:before {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  font-weight: 700;
}
#nav .level0 ul.level1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin-top: 20px;
}
#nav .level0 ul.level1 li {
  margin-bottom: 5px;
}
.category-title {
  font-size: 27px;
  font-family: 'martel';
  text-align: center;
  text-transform: uppercase;
  color: #555;
}
.category-description {
  font-size: 15px;
  color: #4e4e4e;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}
.category-block {
  padding-top: 20px;
}
.category-block .block-layered-nav .label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #4e4e4e;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.category-block .block-layered-nav .block-title {
  color: #FF6C0C;
  font-weight: 400;
  text-transform: uppercase;
}
.category-block .block-layered-nav .block-content dl#narrow-by-list a {
  color: #4e4e4e;
  font-weight: 400;
}
.category-block .block-layered-nav .block-content dl#narrow-by-list a:hover {
  text-decoration: none;
  font-weight: 600;
}
.category-block .block-layered-nav .block-content dl#narrow-by-list dt {
  text-transform: uppercase;
}
.category-products a {
  color: #000;
  text-decoration: none;
  font-size: 14px !important;
}
.category-products .toolbar label {
  font-weight: 400;
}
.category-products .toolbar .pager {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.category-products .toolbar .pager .pages {
  margin-left: 10px;
}
.category-products .toolbar .pager a {
  border-radius: 0;
  padding: 0px 5px;
}
.category-products .toolbar .pager .current {
  font-weight: 600;
}
.category-products .toolbar .pager .i-next img,
.category-products .toolbar .pager .i-previous img {
  transform: translatey(-2px);
}
.category-products ol#products-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.category-products ol#products-list li {
  margin-bottom: 10px;
  width: calc(( 100% - 20px ) /3 );
  padding: 0 15px;
}
.category-products ol#products-list li h2 {
  padding: 0;
  margin: 0;
  line-height: 12px;
  font-weight: 600;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-products ol#products-list li a.product-image > img {
  max-width: 228px;
}
.category-products ol#products-list li > a {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.category-products ol#products-list li .product-shop {
  width: 90%;
  margin: 0 auto;
}
.category-products ol#products-list li .product-shop .price-box {
  margin: 5px auto;
}
.category-products ol#products-list li .product-shop .btn-cart {
  width: 100%;
  border: 2px solid #ccc;
  padding: 5px 10px;
  background: #fff;
}
.category-products ol#products-list li .product-shop .ratings.list .icon-wujiaoxing {
  color: #40B3C5;
  font-size: 12px;
}
.category-products.catalogsearch ol#products-list li {
  margin-bottom: 20px;
  width: calc(( 100% - 20px ) /4);
  padding: 0 15px;
}
.product-view {
  color: #4e4e4e;
}
.product-view a,
.product-view a:hover {
  color: #4e4e4e;
}
.product-view .product-essential form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.product-view .product-essential form .product-img-box {
  flex: 1;
}
.product-view .product-essential form .product-img-box .more-views ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.product-view .product-essential form .product-shop {
  flex: 1;
}
.product-view .product-essential form .product-shop h1 {
  font-size: 24px;
  font-family: 'Martel';
  color: #000;
}
.product-view .product-essential form .product-shop .product-name {
  font-family: 'Martel';
  font-size: 18px;
}
.product-view .product-essential form .product-shop .short-description {
  margin: 40px 0;
}
.product-view .product-essential form .product-shop .ratings {
  font-size: 16px;
}
.product-view .product-essential form .product-shop .ratings .icon-wujiaoxing {
  color: #FF9A00;
  font-size: 12px;
}
.product-view .product-essential form .product-shop .wishlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.product-view .product-essential form .product-shop .wishlist .add-to-links {
  flex: 1;
}
.product-view .product-essential form .product-shop .wishlist .ratings {
  flex: 1;
}
.product-view .product-essential form .product-shop .add-to-links .icon-heart {
  color: #F97426;
  font-size: 20px;
  padding-right: 10px;
}
.product-view .product-essential form .product-shop .add-to-links .link-wishlist {
  padding: 10px 20px;
  background: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.product-view .product-essential form .product-shop .add-to-links .link-wishlist:hover {
  border: 1px solid #ccc;
  color: #F97426;
}
.product-view .product-essential form .product-shop .price-box {
  margin: 20px 0;
}
.product-view .product-essential form .product-shop .add-to-box .add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row nowrap;
}
.product-view .product-essential form .product-shop .add-to-box .add-to-cart label {
  color: #4e4e4e;
  font-size: 18px;
  font-family: 'Martel';
  font-weight: 400;
}
.product-view .product-essential form .product-shop .add-to-box .add-to-cart .qty {
  width: 30%;
  display: inline-block;
}
.product-view .product-essential form .product-shop .add-to-box .add-to-cart #product-addtocart-button {
  background: #079CB4;
  color: #fff;
  height: 34px;
  width: auto;
  float: right;
  font-weight: 400;
  font-family: 'Martel';
  border: none;
  padding: 5px 5%;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 0;
}
.product-view .product-essential form .product-shop .add-to-box .add-to-cart #product-addtocart-button:hover {
  opacity: .8;
}
.product-view .product-essential form .product-shop .add-to-box .add-to-cart .loading {
  width: 16px;
  height: 16px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.product-view .product-collateral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-view .product-collateral .label {
  color: #000;
  font-size: 14px !important;
  padding-left: 0px;
  padding-right: 20px;
}
.product-view .product-collateral .box-left {
  width: calc( (100% - 100px) / 2);
}
.product-view .product-collateral .box-right {
  width: calc( (100% - 100px) / 2);
}
.product-view .product-collateral .box-right .box-additional td,
.product-view .product-collateral .box-right .box-additional td {
  font-size: 14px !important;
}
.product-view .product-collateral .box-collateral {
  border-top: 1px solid #ccc;
  padding-bottom: 20px;
}
.product-view .product-collateral .box-collateral h2 {
  font-family: 'Martel';
  font-size: 18px;
}
.product-view .product-collateral .box-collateral h2 .iconfont {
  float: right;
  padding-right: 20px;
}
.product-view .product-collateral .box-collateral .panel-body {
  padding: 0;
}
.product-view .box-up-sell h3 {
  line-height: 12px;
  height: 24px;
  padding: 0;
  margin-top: 0;
}
.product-view .box-up-sell a,
.product-view .box-up-sell a:hover {
  color: #4e4e4e;
  font-size: 14px;
  line-height: 14px;
}
.product-view .box-up-sell h2 p {
  text-align: center;
  font-family: 'Martel';
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
  transform: translateY(5px);
  background: #fff;
}
.product-view .line {
  height: 1px;
  background: #D9D9D9;
  position: relative;
  top: 16px;
}
.cart button {
  border-radius: 5px;
}
.cart .page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.cart .page-title h1 {
  margin: 0;
  height: 40px;
  line-height: 40px;
}
.cart .page-title ul li button {
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #079cb4;
  color: #fff;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
}
.cart #shopping-cart-table a,
.cart #shopping-cart-table a:hover {
  font-size: 14px;
  color: #4e4e4e;
  text-decoration: none;
}
.cart #shopping-cart-table a img,
.cart #shopping-cart-table a:hover img {
  max-width: 90px;
}
.cart #shopping-cart-table .thead {
  display: flex;
  background: #ccc;
  height: 40px;
  line-height: 40px;
  color: #000;
  font-weight: 400;
  width: 100%;
  justify-content: flex-start;
  padding: 0 10px;
  font-family: 'Martel';
  text-transform: uppercase;
}
.cart #shopping-cart-table .thead .product-image {
  flex: 1;
}
.cart #shopping-cart-table .thead .product-name {
  flex: 4;
  text-align: center;
}
.cart #shopping-cart-table .thead .product-price {
  flex: 2;
}
.cart #shopping-cart-table .thead .product-qty {
  flex: 2;
}
.cart #shopping-cart-table .thead .product-subtotal {
  flex: 2;
}
.cart #shopping-cart-table .thead .product-action {
  flex: 1;
}
.cart #shopping-cart-table .tbody .tr {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart #shopping-cart-table .tbody .tr .product_image {
  flex: 1;
}
.cart #shopping-cart-table .tbody .tr .product_image img {
  min-width: 90px;
}
.cart #shopping-cart-table .tbody .tr .box-middle {
  flex: 10;
  display: flex;
  flex-direction: row;
}
.cart #shopping-cart-table .tbody .tr .box-middle .product_name.box-top {
  flex: 40%;
  text-align: center;
}
.cart #shopping-cart-table .tbody .tr .box-middle .box-bottom {
  flex: 60%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cart #shopping-cart-table .tbody .tr .box-middle .box-bottom > div {
  flex: 1;
}
.cart #shopping-cart-table .tbody .tr .box-right {
  flex: 1;
}
.cart .cart-collaterals {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.cart .cart-collaterals button {
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #079cb4;
  color: #fff;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
}
.cart .cart-collaterals .col2-set {
  flex: 1;
}
.cart .cart-collaterals .col2-set .validation-advice {
  color: red;
}
.cart .cart-collaterals .col2-set label {
  font-weight: 400;
  display: block;
}
.cart .cart-collaterals .col2-set h2 {
  margin: 0;
  font-family: 'Martel';
  font-size: 18px;
  color: #4e4e4e;
  text-transform: uppercase;
}
.cart .cart-collaterals .col2-set .input-box {
  float: left;
  height: 30px;
}
.cart .cart-collaterals .col2-set .input-box input {
  width: 100%;
  height: 100%;
}
.cart .cart-collaterals .col2-set .buttons-set {
  height: 30px;
  display: inline-block;
  float: left;
}
.cart .cart-collaterals .col2-set .buttons-set button {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 0;
}
.cart .cart-collaterals .totals {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart .cart-collaterals .totals #shopping-cart-totals-table {
  width: 50%;
}
.cart .cart-collaterals .totals ul.checkout-types {
  width: 50%;
  button: 100%;
}
.cart .cart-collaterals .totals ul.checkout-types li {
  width: 100%;
}
.cart .cart-collaterals .totals ul.checkout-types li button {
  width: 100%;
}
#onestepcheckout-form button {
  background: #079cb4;
  border: none;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.customer-top-title h2 {
  font-size: 18px;
}
.customer-top-title .or {
  text-align: center;
}
.customer-top-title .or .line::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #ccc;
  position: relative;
  top: 15px;
}
.customer-top-title .or .line span {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 15px;
}
.container.customer-wrap {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}
.container.customer-wrap .validation-advice {
  color: red;
}
.container.customer-wrap h2 {
  font-size: 16px;
}
.container.customer-wrap label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.container.customer-wrap .field,
.container.customer-wrap .input-box {
  margin-bottom: 5px;
}
.container.customer-wrap em {
  color: red;
  padding-right: 5px;
}
.container.customer-wrap button {
  float: right;
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #079cb4;
  color: #fff;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
}
.container.customer-wrap .account-login {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}
.container.customer-wrap .account-create {
  flex: 1;
  padding-left: 20px;
}
.review-block .review-title {
  text-align: center;
}
.review-block .review-title::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #ccc;
  position: relative;
  top: 25px;
}
.review-block .review-title span {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Martel';
  display: inline-block;
  width: 40%;
}
.review-block .icon-wujiaoxing {
  color: #FF9A00;
}
.review-block .general {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.review-block .general .overall {
  text-align: center;
  flex: 1;
}
.review-block .general .overall .icon-wujiaoxing {
  font-size: 34px;
}
.review-block .general .overall .number {
  font-size: 24px;
}
.review-block .general .overall button {
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #FF9A00;
  color: #fff;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
}
.review-block .general .options-list {
  flex: 1;
}
.review-block .general .options-list ul {
  display: flex;
  flex-direction: column;
}
.review-block .general .options-list ul > li dl dt {
  font-family: 'Martel';
  font-weight: 400;
}
.review-block .general .options-list ul > li dl dd {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.review-block .general .options-list ul > li dl dd .start {
  color: rgba(7, 156, 180, 0.5);
}
.review-block .general .options-list ul > li dl dd .person {
  position: relative;
}
.review-block .general .options-list ul > li dl dd .person em {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  padding-left: 5px;
  font-size: 12px;
}
.review-block .write .form-add h2 {
  font-family: 'Martel';
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.review-block .write .form-add h2::before {
  content: "";
  position: relative;
  top: 20px;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #ccc;
}
.review-block .write .form-add h2 span {
  padding: 0 40px;
  background: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 40%;
}
.review-block .write .form-add #review-form .validation-advice {
  color: red;
}
.review-block .write .form-add #review-form button {
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #FF9A00;
  color: #fff;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
}
.review-block .write .form-add #review-form fieldset #product-review-table tr th {
  font-family: 'Martel';
  font-size: 14px;
  font-weight: 400;
  padding-right: 40px;
}
.review-block .write .form-add #review-form fieldset #product-review-table tr td .icon-wujiaoxing {
  font-size: 24px;
  cursor: pointer;
}
.review-block .write .form-add #review-form fieldset ul li label {
  font-family: 'Martel';
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.review-block .write .form-add #review-form fieldset ul li label em {
  color: red;
  padding-right: 5px;
}
.review-block #customer-reviews h2 {
  position: relative;
  font-family: 'Martel';
  font-weight: 400;
  text-align: center;
  font-size: 24px;
}
.review-block #customer-reviews h2::before {
  content: "";
  position: relative;
  top: 15px;
  z-index: 1;
  height: 1px;
  width: 100%;
  display: block;
  background: #ccc;
  padding: 0 30px;
}
.review-block #customer-reviews h2 span {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 15px;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Martel';
  display: inline-block;
  width: 40%;
}
.review-block #customer-reviews dl dt,
.review-block #customer-reviews dl th {
  text-align: left;
  font-family: 'Martel';
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
}
.review-block #customer-reviews dl th {
  font-size: 12px;
  padding-right: 40px;
}
.review-block #customer-reviews dl dt p {
  white-space: normal;
}
