@media only screen and (min-width:992px) and (max-width: 1200px) {}
.mobile-nav{
  .logo{
    text-align: left !important;
  }
  .checkout{
    i{
      float: right !important;
      display: inline !important;
      border-radius: 0 !important;
      background: #fff !important;
      color:#000 !important;
      width:60px !important;
      font-size:14px !important;
      line-height: 42px !important;
      &::after{
        content:' ITEMS';
        font-size:14px !important;
        font-family: 'futura-pt' !important;
      }
      position: static !important;
    }
  }
}

.header-container{
  position: relative;
  .search{
    width:300px !important;
  }
  >.search{border:none;}
  .search-block{
    position: absolute;
    left: 50%;
    top: 60px;
  }
}


//首页
.home-banner{
  min-height: 500px;
  background:url("../media/home/home-lg.jpg") no-repeat center center / cover;
  .txt1 {
    font-size: 36px;
    p {
      text-align: right;
      padding-right: 16% !important;
    }
    p + p {
      font-size: 58px !important;
      padding-right: 13% !important;
    }
  }
  .txt2 {
    font-size: 18px;
    font-style: italic;
    width:60%;
    text-align: center !important;
    float:right;
    padding-right: 20px;
    text-indent: 14% !important;
  }
  .nav {
    flex: 1;
    display:flex;
    align-items: center;
    ul{
      width:35%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      transform: translate(80%, -140px);
      li{
        background:#fff;
        padding:10px 20px;
        width:40%;
        margin-top: 10px;
        text-align: center;
      }
    }
  }


}

.home-content{
  .recommend{}
  .now{}
  .new{}
  .footer-banner1{}
  .footer-banner2{}
}

